@namespace xml3d "http://www.xml3d.org/2009/xml3d";	

xml3d|float,
xml3d|float2,
xml3d|float3,
xml3d|float4,
xml3d|float4x4,
xml3d|int,
xml3d|int4,
xml3d|bool,
xml3d|string,
xml3d|script  {
   display: none;
}

.xml3d-canvas-style {
	cursor: default;
	display: block;
}
