div.attributes table {
  margin-top: 0;
  margin-bottom: 16px;
  border-collapse: collapse;
}

div.attributes table td, th {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

div.attributes table tr {
  background-color: #fff;
}

div.attributes table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

div.attributes table th {
  font-weight: bold;
}

/* Element blocks with Categories list */
section h4 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 4;
}

.element {
    background: #F4F4FA;
    color: black;
    margin: 0 0 1em 0.15em;
    padding: 0 1em 0.25em 0.75em;
    border-left: solid #9999FF 0.5em;
    position: relative;
    z-index: 2;
}

.element:before {
    position: absolute;
    top: 0;
    left: -1.45em;
    height: 2em;
    width: 0.9em;
    background: #F4F4FA;
    content: ' ';
    border-style: none none solid solid;
    border-color: #9999FF;
    border-width: 0.5em;
}

h4 + .element, h4 + div + .element {
    margin-top: -2.9em;
    padding-top: 2em;
}
/* /Element blocks with Categories list */
